  .banner {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 2rem 0;
}

.banner__text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.banner__title {
  display: flex;
  font-weight: 700;
  font-size: 2.5rem;
  justify-content: center;
  margin: 0;
  text-align: start;
  text-transform: uppercase;
}
.banner__subtitle {
  color: var(--light-turquoise);
  align-items: center;
  display: flex;
  justify-content: start;
  font-size: 1.4rem;
}
.banner__subtitle img {
  width: 40px;
  height: 40px;
  filter: brightness(2);
}
.banner__text-container .banner__media {
  display: none;
}
.banner__media {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  margin-top: 1rem;
}
.banner__item {
  border: 2px solid var(--light-turquoise);
  border-radius: 50%;
  height: 40px;
  margin: 0.2rem;
  transition: 0.2s;
  width: 40px;
}
.banner__item a {
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.item_cv {
  border-radius: 30px;
  font-weight: 700;
  margin-left: 0.4rem;
  width: 180px;
}
.banner__item:hover {
  background-color: var(--light-turquoise);
  color: #001f54;
  cursor: pointer;
  text-shadow: none;
}
.cv_button {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.cv_button p {
  margin-left: 0.4rem;
}

.banner__model_bg {
  align-items: center;
  background: linear-gradient(
    var(--light-turquoise),
    var(--light-blue),
    var(--dark-blue)
  );
  border-radius: 100%;
  display: flex;
  height: 300px;
  justify-content: center;
  margin-top: 1rem;
  width: 300px;
}
.banner__model {
  background: url(../img/model-background.jpg) center / cover
    no-repeat;
  border-radius: 100%;
  width: 98%;
  height: 98%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.banner__model img {
  backdrop-filter: blur(1px);
  bottom: 0;
  height: 100%;
  padding-left: 2rem;
}
.banner__model_img {
  display: none;
}

@media screen and (min-width: 1024px) {
  .banner {
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    padding: 0;
    text-shadow: 2px 2px 2px var(--text-shadow);
    width: 100%;
  }
  .banner__media {
    display: none;
  }
  .banner__text-container {
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    width: 600px;
  }
  .banner__text-container .banner__media {
    display: flex;
    font-size: 1.4rem;
    justify-content: start;
    margin-top: 2rem;
  }
  .banner__title {
    font-size: 8rem;
    justify-content: start;
    text-shadow: 2px 2px 6px #001f54;
  }
  .banner__subtitle {
    flex-wrap: nowrap;
    font-size: 2rem;
    justify-content: start;
    margin-top: 1rem;
  }
  .banner__subtitle img {
    height: 50px;
    width: 50px;
  }
  .banner__item {
    box-shadow: 2px 2px 2px var(--box-shadow);
    height: 50px;
    width: 50px;
  }
  .item_cv {
    width: 240px;
  }
  .banner__model_bg {
    display: none;
  }
  .banner__model_img {
    display: block;
    height: 100vh;
    margin: 0;
  }
}
