:root {
  --dark-blue: #001f54;
  --light-blue: #00b4d8;
  --light-turquoise: #80ffdb;
  --box-shadow: #304a6e;
  --text-shadow: #304a6e;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(45deg, rgba(0, 115, 170, 255), #001f54 70%) fixed;
  /* background: linear-gradient(45deg, #7209b7, #001f54 70%) fixed; */
  backdrop-filter: blur(8px) brightness(0.8);
  scroll-behavior: smooth;
}
.container {
  padding: 0 6%;
}

.section-title {
  border-bottom: 2px solid #ffffff;
  display: flex;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px 2px #304a6e;
}

@media screen and (min-width: 1024px) {
  body {
    background: url(../img/background4.png) center / cover no-repeat,
      linear-gradient(45deg, #001f54, #b5179e) fixed;
    backdrop-filter: blur(8px) brightness(0.6);
    height: 100vh;
  }
  .slider {
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }
  .slider section {
    scroll-snap-align: center;
  }
  .container {
    padding-left: calc((100% - 940px) / 2);
    padding-right: calc((100% - 940px) / 2);
  }

  .section-title {
    font-size: 2.5rem;
  }
}
