.contact {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.contact__title {
  border-bottom: 2px solid #ffffff;
  display: flex;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px 2px #304a6e;
}
.contact__formContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.contact__form {
  display: flex;
  flex-direction: column;
  /* padding: 1.5rem; */
  width: 80%;
}
.contact__form label {
  font-size: 1.1rem;
}

.contact__form input,
textarea {
  background: rgba(0, 180, 216, 0.4);
  border: 0.1px solid #80ffdb;
  box-shadow: 0 0px 10px #001f54;
  color: #ffffff;
  font-size: 1rem;
  margin: 0.5rem 0;
  outline: none;
  padding: 0.4rem;
  resize: none;
  transition: 0.3s all ease-in-out;
}
.contact__form textarea {
  margin-bottom: 1rem;
}

.contact__form input:focus,
textarea:focus {
  box-shadow: 0 6px 20px #001f54;
  transform: translateY(-2px);
}

.contact_buttonContainer {
  display: flex;
  justify-content: center;
}
.contact__button {
  background: rgba(0, 180, 216, 0.4);
  border: 0.1px solid #80ffdb;
  border-radius: 1rem;
  box-shadow: 0 6px 20px #001f54;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.4rem;
  transition: 0.2s ease-in-out;
  width: 160px;
}
.contact__button:hover {
  cursor: pointer;
}
.contact__button-active {
  animation: 0.5s button;
}

@keyframes button {
  0% {
    box-shadow: 0 6px 20px #001f54;
  }
  50% {
    box-shadow: 0 0px 10px #001f54;
    transform: translateY(2px);
  }
  100% {
    box-shadow: 0 6px 20px #001f54;
  }
}
@media screen and (min-width: 1024px) {
  .contact {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
  }
  .contact__title {
    font-size: 2.5rem;
  }
}
