.education {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-shadow: 2px 2px 1px #304a6e;
}
.education__content {
  background: rgba(0, 180, 216, 0.4);
  padding: 1rem 0.5rem;
}
.education__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}
.education__item {
  border-bottom: 1px solid;
  padding: 1rem;
}
.education__item:last-child {
  border-bottom: none;
}
.education__item h5 {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.education__item h6 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.education__item p {
  font-size: 1rem;
}

.education__textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.education__logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: center;
  margin-top: 1rem;
  order: -1;
}
.education__logo img {
  filter: drop-shadow(0 0 1px #ffffff);
  width: 80px;
}
.education__logo h5 {
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .education {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
  }
  .education__content {
    padding: 2rem;
  }
  .education__list {
    margin-top: 2rem;
  }
  .education__textContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .education__item {
    padding: 1rem;
  }
  .education__logo {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: center;
    margin: 0;
    order: unset;
  }
  .education__logo img {
    width: 150px;
  }
}
