.footer {
    align-items: center;
    background: rgb(23, 20, 79);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
}
.footer__media {
    display: flex;
    margin-bottom: 1rem;
}
.footer__item {
    background: rgb(67, 67, 199);
    border-radius: 100%;
    display: flex;
    margin: 0 0.5rem;
    padding: 0.5rem;
    width: 24px;
    height: 24px;
    text-align: center;
    align-items: center;
}
.footer__item:hover {
    background: rgb(37, 130, 212);
    cursor: pointer;
}
.footer__item a {
    width: 100%;
}
.footer__item a i {
    font-size: 1.4rem;
}
.footer__copyright {
    font-size: 0.8rem;
}